/* google font import link  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* styles for  all elements  */
* {
  padding: 0;
  margin: 0;
  outline: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* common styles for elements  */
body {
  font-family: "Lato", sans-serif;
}
